{% extends 'base.html' %} {% load static %} {% block title %} Create A Recipe
Scrumptious {%endblock title%} {% block content %}
<form method="post">
  {% csrf_token %} {{ form.as_div }}
  <button>Create</button>
</form>
{%endblock content%}
