{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css'%}" />
  </head>
  <body>
    <header>
      <nav class="main-btn-holder">
        <a href="{% url 'show_recipe'%}" class="main-page">Main Page</a>
        <a href="{% url 'create_recipe'%}" class=" main-page create-page">Create Recipe</a>
      </nav>
    </header>
    <main>
      <h1 class='main-h1'>Scrumptious Recipes</h1>
      <h2 class='main-h2'>All the food that's fit to eat</h2>
      <div class="food-grid">
        {% for recipe in recipes %}
        <div class="first food">
          <h3 class="veg-link">
            <a href="{% url 'show_list' recipe.id %}" class="veg-link">{{recipe.title}}</a>
          </h3>
          <p>{{ recipe.created_on|date:'M. jS, Y' }}</p>
          <img src="{{recipe.picture}}" alt="image of tacos" />
          <a href="{%url 'edit_recipe' recipe.id%}" class=" main-page create-page edit-btn">Edit Recipe</a>
          <div class="recipe-details"> {{recipe.calories}} cals <br>
          <p>{{recipe.description}}</p></div>
        </div>
        {% endfor %}
        {% comment %} <div class="third food">
          <h3 class="veg-link">
            <a href="list.html" class="veg-link">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos " alt="image of tacos" />
          <div>4.3 stars &#9733</div>
        </div>
        <div class="fourth food">
          <h3 class="veg-link">
            <a href="list.html" class="veg-link">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos " alt="image of tacos" />
          <div>4.3 stars &#9733</div>
        </div>
        <div class="fifth food">
          <h3 class="veg-link">
            <a href="list.html" class="veg-link">Vegetarian Tacos</a>
          </h3>
          <img src="https://mks.io/public-tacos " alt="image of tacos" />
          <div>4.3 stars &#9733</div> {% endcomment %}
        </div>
      </div>
    </main>
    <footer>
      <h5 class="footer-txt">Made with love by Scrumptious Recipes</h5>
    </footer>
  </body>
</html>
