{% extends 'base.html' %} {% load static %} {% block title %} Edit A Recipe
Scrumptious {%endblock title%} {% block content %}
<h1>Edit {{ post_object.title }}</h1>
<form method="post">
  {% csrf_token %} {{ post_form.as_div }}
  <button>Save</button>
</form>
{% endblock %}
