{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vegetarian Tacos - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
  </head>
  <body>
    <header>
      <nav class="main-btn-holder">
        <a href="{% url 'show_recipe'%}" class="main-page">Main Page</a>
        <a href="{% url 'create_recipe'%}" class="main-page create-page">Create Recipe</a>
      </nav>
    </header>
    <main>
      <h1 class="main-h1">{{recipe.title}}</h1>
      <div class="first food">
        <h3 class="veg-link"></h3>
        <img src="{{recipe.picture}}" alt="image of tacos" />
        <div>{{recipe.calories}} cals<br> {{recipe.description}}&#9733</div>
      </div>
      <h2 class='main-h2'>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Food Item</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>3 ears</td>
            <td>fresh corn</td>
          </tr>
          <tr>
            <td>2 cups</td>
            <td>Tomatillo Sauce</td>
          </tr>
          <tr>
            <td>8</td>
            <td>corn tortillas</td>
          </tr>
          <tr>
            <td>0.5 cups</td>
            <td>Cojita cheese</td>
          </tr>
        </tbody>
      </table>
      <h2 class="steps main-h2">Steps</h2>
      <ol>
        <li>Blanch the green beans and ears of corn</li>
        <li>Grill the grean beans and corn</li>
        <li>Chop the green beans</li>
        <li>Slice the corn off the cob</li>
        <li>Grill the tortillas</li>
        <li>Assemble the tacos with veggies, salsa, and cheese</li>
      </ol>
    </main>
    <footer>
      <h5 class="footer-txt">Made with love by Scrumptious Recipes</h5>
    </footer>
  </body>
</html>
