{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/recipes.css' %}" />
  </head>
  <body>
    <header>
      <nav class="main-btn-holder">
        <a href="{% url 'show_recipe'%}" class="main-page">Main Page</a>
        <a href="{% url 'create_recipe'%}" class="main-page create-page"
          >Create Recipe</a
        >
      </nav>
    </header>

    <main>
      <h1>Create Recipe</h1>
      {% block content %}{% endblock content%}
    </main>
    <footer>
      <h6 class="footer-txt">Made with love by Scrumptious Recipes</h6>
    </footer>
  </body>
</html>
